:root {
  --main-bg: #0c121e;
  --main-pd: 8px;
  --main-rd: 8px;
  --main-mg: 8px;
  --main-bg-surface: #202c3c;
  --main-bg-active: rgba(19, 30, 44, 0.75);
  --main-bg-hover: rgba(19, 30, 44, 0.5);
  --main-cl-text: #f6f6f6;
  --lite-cl-text: #828e9e;
}

* {
  margin: 0;
  padding: 0;
}

window {
  background: var(--main-bg);
}

.root-container {
  color: var(--main-cl-text);
  padding: var(--main-pd);
}

/* START: Navigation Bar */
.navbar {
  background: var(--main-bg-surface);
  padding: var(--main-pd);
  border-radius: var(--main-rd);
  border: 2px solid var(--main-bg-active);
}

.nav-button {
  padding: var(--main-pd);
  border-radius: var(--main-rd);
  min-width: 64px;
  min-height: 64px;
  background: none;
  border: none;
  box-shadow: none;
}

.nav-button:hover {
  background-color: var(--main-bg-hover);
}

.nav-button-active {
  background: var(--main-bg-active);
}

.nav-button-text {
  font-size: 12px;
  color: var(--lite-cl-text);
}
/* END: Navigation Bar */

/* START: Input Widget */
.read-input {
  background: var(--main-bg-surface);
  font-size: 24px;
  padding: 8px 16px;
  font-weight: 500;
  border: 2px solid var(--main-bg-active);
  outline: none;
  color: var(--main-cl-text);
  border-radius: var(--main-rd);
}
.read-button {
  background: var(--main-bg-surface);
  font-size: 24px;
  padding: 8px 16px;
  font-weight: 400;
  border: 2px solid var(--main-bg-active);
  outline: none;
  color: var(--main-cl-text);
  border-radius: var(--main-rd);
}
.read-button:hover {
  background: var(--main-bg-hover);
}
/* END: Input Widget */

/* START: Current Location & Temperature */
.current-location {
  font-size: 42px;
  font-weight: bold;
  color: var(--main-cl-text);
}
.current-temperature {
  font-size: 56px;
  font-weight: bolder;
  color: var(--main-cl-text);
}
/* END: Current Location & Temperature */

/* START: Current Condition */
.current-condition-container {
  background: var(--main-bg-surface);
  padding: var(--main-pd);
  border-radius: var(--main-rd);
  border: 2px solid var(--main-bg-active);
}
.current-condition-item {
  margin: var(--main-mg);
  padding: var(--main-pd);
}
.current-condition-item-icon {

}
.current-condition-item-type {
  color: var(--lite-cl-text);
  font-size: 15px;
}
.current-condition-item-data{
  color: var(--main-cl-text);
  font-size: 18px;
  font-weight: bolder;
}
/* END: Current Condition */

/* START: Hourly Forecast */
.hourly-forecast-container {
  background: var(--main-bg-surface);
  padding: var(--main-pd);
  border-radius: var(--main-rd);
  border: 2px solid var(--main-bg-active);
}
/* END: Hourly Forecast */

/* TEMP */
.right {
  background: var(--main-bg-surface);
  padding: var(--main-pd);
  border-radius: var(--main-rd);
  border: 2px solid var(--main-bg-active);
}