:root {
  --main-bg: #0c121e;
  --main-pd: 8px;
  --main-rd: 8px;
  --main-mg: 8px;
  --main-bg-surface: #202c3c;
  --main-bg-active: rgba(19, 30, 44, 0.750);
  --main-bg-hover: rgba(19, 30, 44, 0.500);
  --main-cl-text: #f6f6f6;
  --lite-cl-text: #828E9E;
}

window {
    background: var(--main-bg);
}

.root-container {
    color: var(--main-cl-text);
    padding: var(--main-pd);
}

/* START: Navigation Bar */
.navbar {
  background: var(--main-bg-surface);
  padding: var(--main-pd);
  border-radius: var(--main-rd);
  border: 2px solid var(--main-bg-active);
}

.nav-button{
  padding: var(--main-pd);
  border-radius: var(--main-rd);
  min-width: 64px;
  min-height: 64px;
  background: none;
  border: none;
  box-shadow: none;
}

.nav-button:hover{
  background-color: var(--main-bg-hover);
}

.nav-button-active{
  background: var(--main-bg-active);
}

.nav-button-text{
  font-size: 12px;
  color: var(--lite-cl-text);
}
/* END: Navigation Bar */

/* START: Input Widget */
.read-input {
  background: var(--main-bg-surface);
  font-size: 24px;
  padding: 8px 16px;
  font-weight: 500;
  border: 2px solid var(--main-bg-active);
  outline: none;
  color: var(--main-cl-text);
  border-radius: var(--main-rd);
}
.read-button {
  background: var(--main-bg-surface);
  font-size: 24px;
  padding: 8px 16px;
  font-weight: 400;
  border: 2px solid var(--main-bg-active);
  outline: none;
  color: var(--main-cl-text);
  border-radius: var(--main-rd);
}
.read-button:hover {
  background: var(--main-bg-hover);
}
/* END: Input Widget */