.main-container {
  background: #0c121e;
  padding: 8px;
}

.toolbar-container {
  background: #202c3c;
  min-width: 42px;
  padding: 8px;
  border-radius: 8px;
}

.weather-container {
}

.current-weather-location {
  font-size: 42px;
  font-weight: bold;
  color: #f6f6f6;
}

.current-weather-temperature {
  font-size: 48px;
  font-weight: bolder;
  color: #f6f6f6;
}

.current-weather-icon:hover {
  background-color: palegreen;
}

.search-input {
  background: #202c3c;
  border: none;
  outline: none;
  color: #f6f6f6;
}
