:root {
  --main-bg: #0c121e;
  --main-pd: 8px;
  --main-rd: 8px;
  --main-mg: 8px;
  --main-bg-surface: #202c3c;
  --main-cl-text: #f6f6f6;
  --lite-cl-text: #828E9E;
}

/* This is style for root container. */
.main-container {
  background: var(--main-bg);
  padding: var(--main-pd);
  color: var(--main-cl-text);
}

/* Toolbar Container Styling */
.toolbar-container {
  background: var(--main-bg-surface);
  min-width: 64px;
  padding: var(--main-pd);
  border-radius: var(--main-rd);
}

/* Weather Container Styling */
.root-weather-container {
  
}

.today-weather-container {
  margin-top: 8px;
}

.today-weather-condition {
  background: var(--main-bg-surface);
  padding: var(--main-pd);
  border-radius: var(--main-rd);
}


.today-weather-condition-item {
  margin: var(--main-mg);
  padding: var(--main-pd);
}

.today-weather-condition-item-type {
  color: var(--lite-cl-text);
}

.today-weather-condition-item-result {
  color: var(--main-cl-text);
  font-size: 18px;
  font-weight: bolder;
}


.today-weather-hourly {
  min-height: 256px;
  background: var(--main-bg-surface);
  padding: var(--main-pd);
  border-radius: var(--main-rd);
}

.daily-weather-container {
  background: var(--main-bg-surface);
  padding: var(--main-pd);
  margin-top: 8px;
  border-radius: var(--main-rd);
}

/* Location Search Input field Styling */
.search-input {
  background: var(--main-bg-surface);
  font-size: 24px;
  padding: 8px 16px;
  font-weight: 600;
  border: none;
  outline: none;
  color: var(--main-cl-text);
}

.current-weather-location {
  font-size: 42px;
  font-weight: bold;
  /* color: #f6f6f6; */
}

.current-weather-temperature {
  font-size: 56px;
  font-weight: bolder;
}

.current-weather-condition-container{
  min-height: 128px;
  background: var(--main-bg-surface);
  border-radius: var(--main-rd);
}
